{% extends 'layout.twig' %}

{% block body %}
    <div class="container">
        <h3><a href="/product">Product List</a></h3>
        <h1>Create New Product</h1>
        <form action="/product/save" method="post">
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name" /></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input type="text" name="price" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Save" /></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}